    body {
    background-color: rgb(229, 229, 229);
}

/* Header */
.navStyle {
    padding-left: 5px;
}
.logoDiv {
      color: white;
      float: left;
      text-transform: uppercase;
      font-family: "Lato";
      font-weight: 800;
      letter-spacing: 2px;
      height: 96%;
      margin: 5px 0;
      width: 120px;
      background-color: rgb(46, 46, 46);
}
.leftLogoText{
      font-size: 30px;
      float: left;
      padding-left: 5%;
}
.rightLogoText {
      font-size: 15px;
      padding-top: 18px;
      float: left;
      font-style: italic;
}

/* Navbar */
.navbar-inverse .navbar-nav>li>a {
    color: white;
}

/* Upcoming Events */
.header {
    border-bottom: 2px solid black;
    padding: 0 0 20px 0;
    margin: 0 15px;
}
.headerText {
    text-align: center;
    width: 100%;
    font-size: 30px;
    display: block;
    margin: 0 auto;
    font-family: "Oswald";
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
}

/* Artist List */
.main{
    padding-left: 0;
    padding-right: 0;
}
.artistHolder {
    margin-top: 30px;
}
.artistNameBcg {
    background-color: white;
}
.artistNameTour {
    padding-left: 0;
    padding-right: 0;
}
.artistName {
    font-family: "Oswald";
    text-transform: uppercase;
    line-height: 1.1;
    font-size: 28px;
    color: #de53f3;
    font-weight: bold;
    letter-spacing: 2px;
}
.artistTour {
    font-family: "Merriweather";
    padding-top: 5px;
    font-size: 14px;
    font-style: italic;
    font-weight: bold;
    letter-spacing: 1px;
}
.artistImage {
    padding-left: 6px;
    padding-right: 0;
    width: 121px;
}
.artistInfo {
    padding-top: 6px;
    padding-bottom: 6px;
}
.artistDate {
    background-color: black;
    color: #de53f3;
    height: 45px;
    line-height: 45px;
    font-size: 16px;
    font-family: "Oswald";
    text-transform: uppercase;
}
.tourDate {
    float:left;
}
.tourDay {
    float:right;
    line-height: 35px;
}
.buyTicketsLink {
    padding-left: 0;
    padding-right: 0;
}
.ticketImg {
    padding: 14px 0;
    padding-left: 20%;
    float: left;
}
.buyTickets {
    line-height: 45px;
    height: 45px;
    font-size: 18px;
    font-family: "Oswald";
    background-color: #de53f3;
    color: white;
    padding-left: 0;
    padding-right: 0;
    text-transform: uppercase;
}
.buyTicketsText {
    padding-left: 40%;
}



/* News Letter */
.newsLetter {
    /* background-color: #de53f3; */
    background-image: url("../images/newsletter.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 392px;
    padding: 0;
    margin-top: 30px;
}
.newsLetterImage {
    width: 100%;
}
.newsLetterContent{
    background-color: #000;
    opacity: .702;
    display: block;
    height: 270px;
    width: 94%;
    margin: 14% 3%;
    
}
#newsLetterSignup {
    font-size: 40px;
    font-family: "Oswald";
    color: rgb(255, 255, 255);
    text-align: center;
    text-transform: uppercase;
    line-height: 45px;
    letter-spacing: 3px;
    margin: 0 10%;    
    padding-top: 30px;
}
#newsLetterBlurb{
    font-size: 18px;
    font-family: "Merriweather";
    color: #de53f3;
    font-style: italic;
    text-align: center;
    margin: 0 5%;
    letter-spacing: 1px;
    padding-top: 3px;
}
#newsLetterLink{
    display: block;
    width: 90%;
    border: 2px solid white;
    font-size: 16px;
    font-family: "Oswald";
    text-transform: uppercase;
    text-align: center;
    color: white;
    padding: 10px 100px;
    margin: 25px auto 15px auto;
}

/* Social/Directions */
.getContainer{
    background-color: white;
    font-size: 22px;
    font-family: "Oswald";
    color: black;
    padding: 0;
    padding-top: 30px;
    letter-spacing: 1px;
}
.getHeaderText {
    text-transform: uppercase;
}
.getSubText {
font-size: 16px;
font-family: "Merriweather";
color: #de53f3;
font-style: italic;
line-height: 1.5;
letter-spacing: 0;
}
  
  .Stay_Connected_Wherever_You_Are_ {
    font-size: 16px;
    font-family: "Merriweather";
    color: rgb(222, 83, 243);
    font-style: italic;
    line-height: 1.5;
    -moz-transform: matrix( 1.00179019472379,0,0,0.99999999999998,0,0);
    -webkit-transform: matrix( 1.00179019472379,0,0,0.99999999999998,0,0);
    -ms-transform: matrix( 1.00179019472379,0,0,0.99999999999998,0,0);
    position: absolute;
    left: 22.213px;
    top: 2000.904px;
    z-index: 85;
  }
  

.BKGD {
  background-color: rgb(255, 255, 255);
  position: absolute;
  left: -9px;
  top: 1911px;
  width: 334px;
  height: 1032px;
  z-index: 3;
}
