    body {
    background-color: rgb(229, 229, 229);
}

/* Header */
.navStyle {
    padding-left: 5px;
}
.logoDiv {
      color: white;
      float: left;
      text-transform: uppercase;
      font-family: "Lato";
      font-weight: 800;
      letter-spacing: 2px;
      height: 96%;
      margin: 5px 0;
      width: 120px;
}
.leftLogoText{
    position: relative;
    z-index: 2;
    font-size: 30px;
    float: left;
    padding-left: 5%;
    margin: 10px 0;
}
.rightLogoText {
    position: relative;
    z-index: 2;
    font-size: 15px;
    top: 0px;
    margin-top: 28px;
    margin-bottom: 15px;
    margin-right: 6px; 
    float: left;
    font-style: italic;
}
.triangleUp {
    position:absolute;
    left: 65px;
    top: 4.5px;
    z-index: 1;
	width: 0;
	height: 0;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
    border-bottom: 65px solid rgb(46, 46, 46);    
}
.background1 {
    position: absolute;
    z-index: 1;
    background-color: rgb(58, 58, 58);
    width: 120px;
    height: 63.8px;
}
.background2{
    position: absolute;
    z-index: 1;
    background-color: rgb(46, 46, 46);
    width: 75px;
    height: 63.8px;
}
/* Navbar */
.navbar-inverse .navbar-nav>li>a {
    color: white;
}
#collapseBar {
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Upcoming Events */
.header {
    border-bottom: 2px solid black;
    padding: 0 0 20px 0;
    margin: 0 15px;
}
.headerText {
    text-align: center;
    width: 100%;
    font-size: 30px;
    display: block;
    margin: 0 auto;
    font-family: "Oswald";
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
}

/* Artist List */
.main{
    padding-left: 0;
    padding-right: 0;
}
.artistHolder {
    margin-top: 30px;
}
.artistNameBcg {
    position: relative;
    z-index: -2;
    background-color: white;
}
.artistNameTour {
    padding-left: 0;
    padding-right: 0;
}
.artistName {
    font-family: "Oswald";
    text-transform: uppercase;
    line-height: 1.1;
    font-size: 28px;
    color: #de53f3;
    font-weight: bold;
    letter-spacing: 2px;
}
.artistTour {
    font-family: "Merriweather";
    padding-top: 5px;
    font-size: 14px;
    font-style: italic;
    font-weight: bold;
    letter-spacing: 1px;
}
.artistImage {
    padding-left: 6px;
    padding-right: 0;
    width: 121px;
}
.artistInfo {
    position: static;
    height: 110px;
    padding-top: 6px;
    padding-bottom: 6px;
}
.artistDate {
    position:relative;
    z-index: -2;
    background-color: black;
    color: #de53f3;
    height: 45px;
    line-height: 45px;
    font-size: 16px;
    font-family: "Oswald";
    text-transform: uppercase;
}
.tourDate {
    float:left;
}
.tourDay {
    position: relative;
    background-color: rgb(46, 46, 46);
    padding: 0 15px;
    float:right;
    z-index: 2;
    top: -8px;
    left: 15px;
}
.BKGD_copy_6 {
    background-color: rgb(58, 58, 58);
    position: absolute;
    left: 90px;
    top: -14px;
    width: 65px;
    height: 76px;
    z-index: 273;
  }
  
.triangleDown {
    position:absolute;
    right: 52px;
    top: 0px;
    z-index: 1;
	width: 0;
	height: 0;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
    border-top: 43px solid rgb(46, 46, 46);
}  
.dayOverlay{
    position: absolute;
    right: 0;
    top: -8px; 
    z-index: auto;

}
.buyTicketsLink {
    padding-left: 0;
    padding-right: 0;
}
.ticketImg {
    padding: 14px 0;
    padding-left: 25%;
    float: left;
}
.buyTickets {
    line-height: 45px;
    height: 45px;
    font-size: 18px;
    font-family: "Oswald";
    background-color: #de53f3;
    color: white;
    padding-left: 0;
    padding-right: 0;
    text-transform: uppercase;
}
.buyTicketsText {
    padding-left: 40%;
}



/* News Letter */
.newsLetter {
    /* background-color: #de53f3; */
    background-image: url("../images/newsletter.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 392px;
    padding: 0;
    margin-top: 30px;
}
.newsLetterImage {
    width: 100%;
}
.newsLetterContent{
    background-color: #000;
    opacity: .702;
    display: block;
    height: 270px;
    width: 94%;
    margin: 14% 3%;
    
}
#newsLetterSignup {
    font-size: 40px;
    font-family: "Oswald";
    color: rgb(255, 255, 255);
    text-align: center;
    text-transform: uppercase;
    line-height: 45px;
    letter-spacing: 3px;
    margin: 0 10%;    
    padding-top: 30px;
}
#newsLetterBlurb{
    font-size: 18px;
    font-family: "Merriweather";
    color: #de53f3;
    font-style: italic;
    text-align: center;
    margin: 0 5%;
    letter-spacing: 1px;
    padding-top: 3px;
}
#newsLetterLink{
    display: block;
    width: 90%;
    border: 2px solid white;
    font-size: 16px;
    font-family: "Oswald";
    text-transform: uppercase;
    text-align: center;
    color: white;
    padding: 10px 100px;
    margin: 25px auto 15px auto;
}

/* Social/Directions */
.getContainer{
    background-color: white;
    font-size: 22px;
    font-family: "Oswald";
    color: black;
    padding: 0;
    padding-top: 30px;
    letter-spacing: 1px;
}
.getHeaderText {
    font-size: 24px;
    font-family: "Oswald";
    text-transform: uppercase;
    line-height: 1.091;
    letter-spacing: 3.75px;
    font-weight: bold;
    margin:0;
}
.Get_Social {
    font-size: 22px;
    font-family: "Oswald";
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    line-height: 1.091;
    -moz-transform: matrix( 1.00179019472379,0,0,0.99999999999998,0,0);
    -webkit-transform: matrix( 1.00179019472379,0,0,0.99999999999998,0,0);
    -ms-transform: matrix( 1.00179019472379,0,0,0.99999999999998,0,0);
    position: absolute;
    left: 4.697px;
    top: 1949.499px;
    z-index: 86;
  }
  
.getSubText {
font-size: 16px;
font-family: "Merriweather";
color: #de53f3;
font-style: italic;
line-height: 1.5;
letter-spacing: 1%;
margin: 5px 0 15px 0;
}
.getSocialLinks {
    border-top: 2px solid black;
}
.getSocial {
    height: 500px;
}
.getDirections {
    padding-top:30px;
}
.socialLink {
    background-color: black;
    padding: 0 2%;
    width: 33%;
    height: 65px;
}
.socialLinkCenter {
    margin: 0 .5%;
}
.socialImage {
    display: block;
    width:33%;
    margin: 14px auto 17px auto;
    height: 34px;
}
#instagram {
    width: 25%;
    height: 24px;
    margin: 20px auto 21px auto;
}
#facebook {
    width: 15%;
    height: 20px;
    margin: 22px auto 23px auto;
}
.tweetContainer {
    background-color: rgb(229, 229, 229);
    margin-top: 20px;
    height: 350px;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}
.tweetHolder {
    width: 900px;
}
.tweet {
    display: inline-block;
    width: 32%;
    margin: 0 .5% 0 0;
}
.tweetDiv {
    background-color: white;
    height: 235px;
}
.tweetHeader {
    margin: 12px 0;
}
.tweetFollow {
    font-size: 18px;
    font-family: "Oswald";
    font-weight: bold;
    line-height: 1,375;
    margin: 17px 15px;
    letter-spacing: 2.5px;
    text-transform: uppercase;
}
.tweetBody{
    display: block;
    white-space: pre-wrap;
    word-wrap: break-word;
    font-size: 14px;
    font-family: "Lato";
    line-height: 1.429
}
._axs:___dylangardner23_will_be_opening_for__The {
    font-size: 14px;
    font-family: "Lato";
    color: rgb(222, 83, 243);
    line-height: 1.429;
    position: absolute;
    left: 39.994px;
    top: 2218.25px;
    width: 212px;
    height: 94px;
    z-index: 44;
  }
  
.tweetContainer a{
    color: #de53f3;
}
.logoSmall {
    float: left;
    height: 30px;
    width: 30px;
    margin-top: 4px; 
}
.tweetFooter {
    background-color: #de53f3;
}
.socialLink:hover {
    background-color: #de53f3;
    height: 70px;
}
.Follow__CHVenue {
    font-size: 16px;
    font-family: "Oswald";
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    line-height: 1.375;
    position: absolute;
    left: 36.937px;
    top: 2104px;
    z-index: 64;
  }

/* Address */

.address {
    background-color: black;
    height: 150px;
    color: white;
    display: block;
}
.addressTextHeader {
    font-size: 18px;
    font-family: "Oswald";
    text-transform: uppercase;
    line-height: 1.713;
    text-align: center;
    width: 90%;
    display: block;
    margin: 0 auto;
}
.addressText {
    font-size: 16px;
    font-family: "Oswald";
    line-height: 1.713;
    text-align: center;
    width: 90%;
    display: block;
    margin: 0 auto;
}
.addressTextContainer {
    padding: 32px 0;
}
.Address {
    font-size: 14px;
    font-family: "Oswald";
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    line-height: 1.713;
    -moz-transform: matrix( 1.00001581941049,0,0,0.99908172635443,0,0);
    -webkit-transform: matrix( 1.00001581941049,0,0,0.99908172635443,0,0);
    -ms-transform: matrix( 1.00001581941049,0,0,0.99908172635443,0,0);
    position: absolute;
    left: 125.85px;
    top: 2550.998px;
    z-index: 24;
  }
  
#map {
    height: 400px;
    width: 100%;
    margin: 0;
}
.mapContainer {
    height: 400px;
    margin-bottom: 40px;
}
  